

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent-box {
  width: 900px;
  border: black 2px solid;
  font-size: 100px;
}

.child-box {
 width: 50%;
 height: 200px;
}

.box-1 {
  background-color: red;
}

.box-2 {
  background-color: green;
}

.box-3 {
  background-color: blue;
}


.box-4 {
  background-color: yellow;
}

h1 {
  font-size: 100%;
  /* width: 200px; */
  background-color: aqua;
}