#box-1 {
  width: 400px;
  margin: 10px;
  padding: 40px;
}

#box-2 {
    margin: 10px;

  /*clockWise ==> top  right  bottom  left*/
 /* border-width: 2px   5px   10px    5px; */

 /* border-top-width: 2px;
 border-right-width: 5px;
 border-bottom-width: 10px;
 border-left-width: 5px; */

 /* border-style: outset; */
 
 /* border-color: blue orange red yellow; */

 border: 3px solid lightblue;
/* padding-top: 5px;
padding-bottom: 10px;
padding-right: 5px;
padding-left: 0px; */

padding: 5px 5px 10px 0px;
  width: 400px;
}
/* 
h1 {
  border: 1px solid black;
  margin: 80px;
  padding: 10px;
} */