h1 {
  text-align: center;
}

div.parent {
  /* width: 100%; */
  padding-left: 1100px;
}

div.box {
height: 200px;
width: 200px;
border-radius: 50%;
background-color: #bbbbaa;
overflow: hidden;

}
img {
 width: 100%;
 height: 100%; 
 
 /* opacity: 0.2; */
}