#main-box {
  background-image: url('./bgimage.jpg');

/* rgba red - green - blue- alpha */ 
background-color:black ;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 100px;
  font-weight: 600;
  opacity: 0.2;
  color: hsla(0, 98%, 51%, 0.902);


}
#car-box {
  width: 700px;
  height: 500px;
}

img {
  /* opacity range 0 - 1 */
  opacity: 0.7;
  width: 100%;
  height: 100%;
}

/* font family */

* {
   font-family: "Roboto", sans-serif;

}

/* font-weight - lighter - normal - bold - bolder */
/* font-weight in number min -> 100 */

/* h2 {
  font-weight: 800;
  font-size: 54px;
  color: red;
} */

span {
  color: red;
  /* font-weight: bolder ; */
  font-style: italic;
}

h2 {
  text-transform: capitalize;
}

#para-1 {
   font-size: 20px;
   text-transform: capitalize;
}

#para-2 {
  font-size: 40px;
}


a {
  text-decoration: none;
}