/* vh means viewport height */
/* #box-1 {
  height: 700px;
width: 700px;
  background-color: tomato;
} */


/* #box-2 {
  height: 80vh;
  width: 50vw;
  background-color: aquamarine;
}

#box-3 {
  height: 50%;
  background-color: beige;
} */

#box-1 {
  width: 90%;
  min-width: 500px;
  height: 300px;
  background-color: blue;
}

#box-2 {
  /* overflow: scroll; */
  font-size: 50px;
  width: 90%;
  height: 100%;
  background-color: yellow;
}
#box-3 {
  width: 90%;
  height: 100%;
  background-color: red;
}